{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}
<head>
    {% block stylesheets %}
    <link href="style.css" rel="stylesheet" />
	
    {% endblock %}
</head>


<body>
<section class="box">  
		<h1> Mon Blog</h1> 
		<h3>Antoine Vernay</h3>
		<a href="#" class="boxBtn">Contacter Moi</a>   
	</section>
	
</body>


{% endblock %}



