{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}
<head>
    {% block stylesheets %}
    <link href="style.css" rel="stylesheet" />
	
    {% endblock %}
</head>


<body>
<section class="box">  
		<h1>MON BLOG</h1> 
		
		<h3>Bonjour et bienvenue sur mon espace en ligne ! Je suis Vernay Antoine, et ce blog est une fenêtre ouverte sur mon univers professionnel et créatif.<br>À travers ces pages, je partage mon parcours, mes expériences professionnelles, mes passions, et bien plus encore. Explorez les différentes sections pour en savoir plus sur qui je suis et ce que je fais</h3>
		<h4>Pour en savoir plus sur moi cliquer sur le bouton en dessous</h4>
		<a href="/APropos" class="boxBtn">En savoir plus</a>   
	</section>


<center


	
</body>


{% endblock %}



