{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}
<head>
    {% block stylesheets %}
    <link href="style.css" rel="stylesheet" />
    {% endblock %}
</head>


<body>
<section class="box">  
		<video src="4.mp4" autoplay muted loop></video>
		<h1>Blog</h1> 
		<h3>Antoine Vernay</h3>
		<a href="#" class="boxBtn">Contact Us</a>   
	</section>
</body>


{% endblock %}
