{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}
<head>
    {% block stylesheets %}
    <link href="style.css" rel="stylesheet" />
    {% endblock %}
</head>

<body>

</body>
{% endblock %}